<?xml version="1.0" encoding="UTF-8"?>

<suite name="Google Test Suite">
    <parameter name="LoginUrl" value="http://google.com"/>
    <parameter name="searchText" value="selenium"/>
     
<test name="Smoke Test">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
               
	    <packages>
	      <package name="testGoogle.test" />
	   </packages>
</test>
</suite>
